@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #000000;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 800px;
  margin: 20px auto;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  width: 300px;
  border: 5px solid #000000;
  border-radius: 5px;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navigation a {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navigation a:hover {
  background-color: #333333;
  text-decoration: none;
}

iframe {
  margin-top: 20px;
  border: 5px solid #000000;
}