body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
}

#personaje {
    width: 600px;
    height: 400px;
    object-fit: contain;
    margin: 20px auto;
    display: block;
    border: 5px solid #4a00e0;
    border-radius: 10px;
}

.botones {
    margin-top: 20px;
}

.botones button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.botones img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #8e2de2;
    transition: transform 0.3s;
}

.botones img:hover {
    transform: scale(1.1);
}